/* css styles */
.cell-output {
  margin: 0;
  padding: 0;
}
.cell-output pre {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand img,
.nav-link i,
.btn i,
.quarto-dark .bi{
  filter: brightness(0); /* Dark in light mode */
}

.quarto-dark .navbar-brand img,
.quarto-dark .nav-link i,
.quarto-light .btn i,
.quarto-light .bi {
  filter: brightness(1); /* Light in dark mode */
}

.quarto-dark ul.pagination li.disabled a {
  color: #2761e3
}