/* css styles */
.cell-output {
  margin: 0;
  padding: 0;
}
.cell-output pre {
  margin-top: 0;
  margin-bottom: 0;
}

i.bi,
svg.icon,
.listing-filters svg,
.sidebar-item .bi {
  color: black !important;
  fill: black !important;
}